.container {
    display: grid;
    grid-template-columns: 1.3fr 0.7fr; 
    grid-template-rows: 0.7fr 0.7fr 1.6fr 1.3fr 0.7fr; 
    gap: 0px 0px;
    grid-auto-flow: row;
    height: 400px;
    width: 700px;
    margin: 0 auto;
    font-weight: 800;
    grid-template-areas:
      "header header"
      "nav nav"
      "content sidebar"
      "content sidebar"
      "footer footer";
}
  
.header { 
    grid-area: header;
}
  
.nav { 
    grid-area: nav;
}
  
.footer { 
    grid-area: footer;
}
  
.content { 
    grid-area: content;
}
  
.sidebar { 
    grid-area: sidebar;
}

.container__item {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}
